html,
.gr__brittwylie_github_io {
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0 auto;
	width: 100%;
	padding: 0;

}

video {
	width: 75%;
}

#contact img {
	height: 30px;
	width: 35px;

}


p {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 1em;
}


h2 {
	font-family: 'Great Vibes', cursive;
	font-size: 3em;
	color: #1a4d5e;

}

h3 {
	font-family: 'Great Vibes', cursive;
	font-size: 2.5em;
	color: #1a4d5e;
	padding-top: 2em;
}

#header {
	margin: 0 auto;
	padding: 44px 0 50px;
	text-align: center;
	width: 90%;
}

#body {
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
}

#body>div {
	margin: 0 auto;
	padding: 0;
	width: 90%;
}

#body>div img {
	padding: 0;
}

#about p {
	font-size: 1.2rem;
	width: 60%;
	margin: 0 auto;

}


figure {
	display: inline-block;
	position: relative;

}

figcaption {
	font-size: 1.25rem;
	margin-top: 1rem;
}

.graphic-design {
	width: 75%;
	margin: 0 auto;
}

.web-design {
	width: 80%;
	margin: 0 auto;
}

.galleryImg {
	max-height: 270px;
	max-width: 270px;
	display: flex;
	text-align: center;
	margin: 0 auto
}

.galleryPImg {
	max-width: 375px;
	display: flex;

}

#portfolio {
	width: 90% !important;
}

footer {
	background: #1a4d5e;
	margin: 0;
	padding: 36px 0 42px;
	width: 100%;
}

footer p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}


/*Dropdown Menu Styles */
.dropdown {
	position: fixed;
	display: inline-block;
	z-index: 1;
}

.dropdown:hover .dropdown-menu {
	display: block;
}


.dropdown .dropdown-menu {
	position: absolute;
	top: 100%;
	display: none;
	margin: 0;
	list-style: none;
	width: 100%;
	padding: 0;
}



/** Button Styles **/
.dropdown button {
	background: #1a4d5e;
	color: #FFFFFF;
	border: none;
	margin: 0;
	padding: 0.4em 0.8em;
	font-size: 1em;
}

/** List Item Styles **/
.dropdown a {
	display: block;
	padding: 0.2em 1.5em;
	text-decoration: none;
	text-align: center;
	background: #fff;
	color: #333333;
	border: solid 5px #eee;
	border-radius: 5px;
	width: 300%;
}

.dropdown a:hover {
	background: #c7dddb;
}

/* End Dropdown Menu Styles */

@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {

	.galleryPImg {
		max-width: 245px;
		display: flex;

	}

	#body>div img {
		border: 0;
		margin: 0;
		padding: 0;
	}

	#header {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: 90%;
	}

	.graphic-design,
	.web-design {
		width: 100%;
		margin: 0 auto;
	}
	.galleryImg {
		max-height: 250px;
		max-width: 250px;
	}
		.web-design figure {
			margin: 0 .5rem;
		}

		.web-design figure figcaption {
			font-size: 14px;
		}
}
@media only screen and (min-device-width: 990.1px) and (max-device-width: 1024px) {
		.graphic-design,
		.web-design {
			width: 100%;
			margin: 0 auto;
		}
		.graphic-design .galleryImg {
				max-height: 200px;
				max-width: 200px;
		}

		.web-design .galleryImg {
			max-height: 220px;
			max-width: 220px;
		}
		.web-design figure {
				margin: 0 .5rem;
		}
		.web-design figure figcaption {
			font-size: 14px;
		}

}
@media only screen and (min-device-width: 1024.1px) {

	#portfolio {
		width: 80% !important;
	}

	.graphic-design,
	.web-design {
		width: 100%;
		margin: 0 auto;
	}
}